<div class="info">
    <h1>
        <fa-icon [icon]="faListAlt"></fa-icon>
        {{ 'CV.COURSES.COURSES' | translate }}
    </h1>
    <hr>
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>
    <div class="alert alert-info text-center" *ngIf="loaded && courses.length === 0">
        <h2>{{ 'COMMON.NO_DATA' | translate }}</h2>
    </div>
    <div class="info" *ngIf="loaded && courses.length > 0">
        <div *ngFor="let course of courses" class="mb-5">
            <app-text-header [text]="course.name"></app-text-header>
            <div class="courseBox mat-elevation-z4">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <p>
                                <b>{{ 'CV.COURSES.URL' | translate }}: </b>&nbsp;
                                <a [href]="course.courseUrl" target="_blank" *ngIf="course.courseUrl">
                                    <fa-icon [icon]="faLink"></fa-icon>
                                </a>
                                <span *ngIf="!course.courseUrl">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                        </div>
                        <div>
                            <p> <b>{{ 'CV.COURSES.TYPE' | translate }}: </b>
                                {{ 'CV.COURSES.' + course.type.toUpperCase() | translate }} </p>
                        </div>
                        <div>
                            <p>
                                <b>{{ 'CV.COURSES.ESTABLISHMENT' | translate }}: </b>
                                {{ course.establishment }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p> <b>{{ 'CV.COURSES.DURATION' | translate }}: </b> {{course.duration }} </p>
                        </div>

                        <div>
                            <p> <b>{{ 'CV.COURSES.DATETIME' | translate }}: </b>
                                <span *ngIf="course.dateTime"> {{course.dateTime | date:'longDate' }}</span>

                                <span *ngIf="!course.dateTime">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p *ngIf="currentLang === 'en'">
                                <b>{{ 'CV.COURSES.COUNTRY' | translate }}: </b>
                                <span *ngIf="course.country_EN">{{ course.country_EN }}</span>
                                <span *ngIf="!course.country_EN">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                            <p *ngIf="currentLang === 'en'"><b>{{ 'CV.COURSES.CITY' | translate }}: </b>
                                <span *ngIf="course.city_EN">{{ course.city_EN }}</span>
                                <span *ngIf="!course.city_EN">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                            <p *ngIf="currentLang === 'fr'"><b>{{ 'CV.COURSES.COUNTRY' | translate }}:
                                </b>
                                <span *ngIf="course.country_FR"> {{ course.country_FR }}</span>
                                <span *ngIf="!course.country_FR">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                            <p *ngIf="currentLang === 'fr'"><b>{{ 'CV.COURSES.CITY' | translate }}: </b>
                                <span *ngIf="course.city_FR">{{ course.city_FR }}</span>
                                <span *ngIf="!course.city_FR">
                                    <fa-icon [icon]="faTimes" style="color: red;"></fa-icon>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="course.documents.length > 0">
                            <mat-accordion>
                                <mat-expansion-panel style="background-color: rgba(100, 100, 100, 0.3);">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <strong>
                                                <fa-icon [icon]="faFileAlt"></fa-icon>
                                                Documents:
                                            </strong>
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div class="docBox" *ngFor="let doc of course.documents">
                                        <p>
                                            <b>{{ 'CV.DOCUMENTS.NAME' | translate }}: </b>
                                            <span *ngIf="currentLang === 'en'">{{ doc.name_EN }}</span>
                                            <span *ngIf="currentLang === 'fr'">{{ doc.name_FR }}</span>
                                        </p>
                                        <b>{{ 'CV.DOCUMENTS.DESCRIPTION' | translate }}: </b>
                                        <pre *ngIf="currentLang === 'en'">{{ doc.description_EN }}</pre>
                                        <pre *ngIf="currentLang === 'fr'">{{ doc.description_FR }}</pre>

                                        <p class="small">
                                            <b>{{ 'CV.DOCUMENTS.LAST_UPDATE' | translate }}: </b>
                                            {{ doc.lastUpdatedDate | date:'medium' }}
                                        </p>

                                        <div style="display: flex; justify-content: space-around;">
                                            <a style="cursor:pointer; color:fuchsia" *ngIf="doc.type === '.pdf'"
                                                (click)="onViewPdf(doc.path)">
                                                <fa-icon [icon]="faEye"></fa-icon>
                                                {{ 'COMMON.VIEW' | translate }}
                                            </a>
                                            <a style="cursor:pointer; color:fuchsia"
                                                *ngIf="doc.type === '.jpg' || doc.type === '.jpeg' || doc.type === '.png'"
                                                (click)="onViewImage(doc.path)">
                                                <fa-icon [icon]="faEye"></fa-icon>
                                                {{ 'COMMON.VIEW' | translate }}
                                            </a>
                                            <a style="color:greenyellow" [href]="doc.path" target="_blank">
                                                <fa-icon [icon]="faDownload"></fa-icon>
                                                {{ 'COMMON.DOWNLOAD' | translate }}
                                            </a>
                                        </div>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader" *ngIf="loading">
        <div *ngFor="let i of [].constructor(3)" class="mb-5">
            <app-text-header text="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"></app-text-header>
            <div class="courseBox mat-elevation-z4">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <p> &nbsp;</p>
                        </div>
                        <div>
                            <p> &nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p> &nbsp;</p>
                        </div>

                        <div>
                            <p> &nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p> &nbsp;</p>
                            <p> &nbsp;</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>