<h2 mat-dialog-title>
    <fa-icon [icon]="faUserEdit"></fa-icon>
    {{ 'AUTH.RESET_PASSWORD' | translate }}
</h2>
<hr>
<div mat-dialog-content>
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">{{error}}</div>
    </div>
    <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width" appearance="legacy">
            <mat-label>{{ 'AUTH.PASSWORD' | translate }} *</mat-label>
            <input type="text" matInput formControlName="password">
            <mat-error *ngIf="!form.controls.password.valid && form.controls.password.touched" translate>
                VALIDATION.REQUIRED
            </mat-error>
        </mat-form-field>
    </form>

</div>
<div mat-dialog-actions class="float-right mt-3">
    <button mat-raised-button color="warn" (click)="onNoClick()"
        *ngIf="!resetting">{{ 'COMMON.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" *ngIf="!resetting"
        (click)="f.onSubmit(undefined)">{{ 'COMMON.RESET' | translate }}</button>
    <mat-spinner diameter="30" color="accent" *ngIf="resetting"></mat-spinner>
</div>