<div class="adminPageTop">
    <h1>
        <mat-icon>email</mat-icon>
        {{ 'ADMINISTRATION.MESSAGING.SEND_EMAIL' | translate }}
    </h1>
    <hr>
</div>

<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <div class="alert alert-success" *ngIf="sent">
        <strong translate>ADMINISTRATION.MESSAGING.EMAIL_SENT</strong>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="full-width mt-3" appearance="legacy">
            <mat-label translate>COMMON.EMAIL</mat-label>
            <input type="email" formControlName="email" matInput required>
            <mat-error>{{ 'VALIDATION.INVALID_EMAIL' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width mt-3" appearance="legacy">
            <mat-label translate>CONTACT_ME.SUBJECT</mat-label>
            <input formControlName="subject" matInput required>
            <mat-error>{{ 'VALIDATION.REQUIRED' | translate }}</mat-error>
        </mat-form-field>

        <div class="mt-3">
            <mat-label translate>COMMON.TEXT</mat-label>
            <ckeditor tagName="textarea" [editor]="Editor" formControlName="message" required></ckeditor>
            <mat-error class="small" *ngIf="!form.controls.message.valid && form.controls.message.touched">
                {{ 'VALIDATION.REQUIRED' | translate }}
            </mat-error>
        </div>

        <div class="float-right mt-3">
            <a mat-raised-button color="accent" class="mr-3" [routerLink]="['/admin', 'messages', 'sent-emails']">
                {{ 'COMMON.CANCEL' | translate }}
            </a>

            <button mat-raised-button color="primary" [disabled]="!form.valid || sending">
                {{ sending ? ('COMMON.SENDING' | translate) : ('COMMON.SEND' | translate) }}
                <mat-icon class="ml-1">send</mat-icon>
            </button>
        </div>
    </form>
</div>