<h3 mat-dialog-title>
    {{ 'COMMON.CHOOSE_FILE' | translate }}:
</h3>
<hr>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;" appearance="legacy">
        <mat-label translate>COMMON.DIRECTORY</mat-label>
        <mat-select [(ngModel)]="path">
            <mat-option (click)="onSelectDirectory()">{{ 'COMMON.ALL' | translate }}</mat-option>
            <mat-option *ngFor="let d of directories" [value]="d.path" (click)="onSelectDirectory()">
                {{d.path}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="imagesBox">
        <div class="float-left mt-3  image" *ngFor="let file of files">
            <img *ngIf="isImage(file.fileType)" [src]="file.downloadPath" alt="no preview" style="cursor: pointer;"
                (click)="onSelectFile(file.downloadPath, file.id)"
                [class.selected]="selectedFile === file.downloadPath">

            <img *ngIf="isPdf(file.fileType)" src="../../../assets/images/pdf.png" alt="no preview"
                style="cursor: pointer;" (click)="onSelectFile(file.downloadPath, file.id)"
                [class.selected]="selectedFile === file.downloadPath">

            <img *ngIf="isRar(file.fileType)" src="../../../assets/images/rar.png" alt="no preview"
                style="cursor: pointer;" (click)="onSelectFile(file.downloadPath, file.id)"
                [class.selected]="selectedFile === file.downloadPath">

            <img *ngIf="isZip(file.fileType)" src="../../../assets/images/zip.png" alt="no preview"
                style="cursor: pointer;" (click)="onSelectFile(file.downloadPath, file.id)"
                [class.selected]="selectedFile === file.downloadPath">

            <img *ngIf="isVideo(file.fileType)" src="../../../assets/images/vid.jpg" alt="no preview"
                style="cursor: pointer;" (click)="onSelectFile(file.downloadPath, file.id)"
                [class.selected]="selectedFile === file.downloadPath">

            <p class="small text-muted text-center">{{file.originalFileName}}</p>
        </div>
    </div>
</div>
<div mat-dialog-actions class="float-right mt-2">
    <button mat-raised-button color="accent" (click)="onClear()">{{ 'COMMON.CLEAR_SELECTION' | translate }}</button>
    <button mat-raised-button color="warn" cdkFocusInitial
        (click)="onNoClick()">{{ 'COMMON.CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" [disabled]="!selectedFile"
        (click)="onChoose()">{{ 'COMMON.CHOOSE' | translate }}</button>
</div>