<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                    {{ 'FOOTER.CREATED_BY' | translate }}:
                </p>
                <hr>
                <p> Sharif Qasrawi</p>
                <p>
                    <a href="mailto:sharif@qasrawi.fr">
                        <fa-icon [icon]="faLink"></fa-icon>
                        sharif@qasrawi.fr
                    </a>
                </p>
                <p>
                    <em>{{ 'FOOTER.VERSION' | translate }}: 1.0 Beta.</em>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    {{ 'COMMON.LANGUAGE' | translate }}:
                </p>
                <hr>
                <p [class.active]="translate.currentLang === 'fr'" alt="flag" (click)="onChangeLanguage('fr')"
                    class="langBtn">
                    <img src="../../assets/images/frFlag.png">
                    Français
                    <fa-icon [icon]="faCheckCircle" class="ml-1" style="color: greenyellow;"
                        *ngIf="translate.currentLang === 'fr'"></fa-icon>
                </p>
                <p [class.active]="translate.currentLang === 'en'" alt="flag" (click)="onChangeLanguage('en')"
                    class="langBtn">
                    <img src="../../assets/images/engflag2.png">
                    English
                    <fa-icon [icon]="faCheckCircle" class="ml-1" style="color: greenyellow;"
                        *ngIf="translate.currentLang === 'en'"></fa-icon>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    {{ 'FOOTER.USEFUL_LINKS' | translate }}:
                </p>
                <hr>
                <p>
                    <a [routerLink]="['/cv']">
                        <fa-icon [icon]="faLink"></fa-icon>
                        {{ 'CV.CV2' | translate }}
                    </a>
                </p>
                <p>
                    <a [routerLink]="['/portfolio']">
                        <fa-icon [icon]="faLink"></fa-icon>
                        {{ 'PORTFOLIO.PORTFOLIO' | translate }}
                    </a>
                </p>
            </div>
        </div>

    </div>
</footer>