.admin-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .admin-sidenav-content {
    /* display: flex; */
    height: 91.3vh;
    padding-top: 25px;
    /* padding-bottom: 150px; */
    flex: 1;
  }
  
  .admin-sidenav {
    user-select: none;
    width: 250px;
    background-color: rgb(61, 61, 61);
  }
  
  .admin-container .admin-sidenav a, .admin-container .admin-sidenav span, .adminNavColor {
    color: lightgrey;
  }
  
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  
  .submenu {
    overflow-y: auto;
    height: 0;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  
  .submenu.expanded {
    transform: scaleY(1);
    height: auto;
  }
  
  .menu-spacer {
    flex: 1 1 auto;
  }
  
  .admin-is-mobile .admin-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .admin-is-mobile .admin-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .toolBarButtons {
    position: absolute;
    right: 100px;
    top: 10px;
  }