<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="admin-toolbar">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 translate>ADMINISTRATION.ADMINISTRATION.ADMINISTRATION</h1>
            <div class="toolBarButtons">
                <a mat-button [routerLink]="['/']" target="_blank"
                    [style.display]="mobileQuery.matches ? 'none' : 'inline'">
                    <mat-icon>home</mat-icon>
                    {{ 'COMMON.HOME' | translate }}
                </a>

                <a mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>perm_identity</mat-icon>
                    {{ firstName + ' ' + lastName }}
                </a>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <a mat-menu-item (click)="onLogout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span translate>LOGOUT.LOGOUT</span>
                    </a>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="admin-sidenav-container ">
        <mat-sidenav #sidenav class="admin-sidenav" mode="side" [opened]="mobileQuery.matches ? !navOpened : navOpened"
            (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/admin']">
                    <mat-icon mat-list-icon>dashboard</mat-icon>
                    {{ 'ADMINISTRATION.DASHBOARD.DASHBOARD' | translate }}
                </a>

                <a mat-list-item [routerLink]="['/admin', 'about']">
                    <mat-icon mat-list-icon>info</mat-icon>
                    {{ 'ADMINISTRATION.ABOUT.ABOUT' | translate }}
                </a>

                <mat-list-item (click)="showSubmenuCategories = !showSubmenuCategories" class="parent">
                    <span class="full-width" translate>CV.CV</span>
                    <mat-icon mat-list-icon class="adminNavColor">view_quilt</mat-icon>
                    <mat-icon class="menu-button adminNavColor" [ngClass]="{'rotated' : showSubmenuCategories}">
                        expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuCategories}">
                    <a mat-list-item [routerLink]="['/admin', 'categories']">
                        <mat-icon mat-list-icon>done_all</mat-icon>
                        {{ 'COMMON.PUBLISHED' | translate }}
                    </a>
                    <a mat-list-item [routerLink]="['/admin', 'categories', 'trashed']">
                        <mat-icon mat-list-icon>delete</mat-icon>
                        {{ 'COMMON.DELETED' | translate }}
                    </a>
                </div>

                <mat-list-item (click)="showSubmenuCourses = !showSubmenuCourses" class="parent">
                    <span class="full-width" translate>PORTFOLIO.PORTFOLIO</span>
                    <mat-icon mat-list-icon class="adminNavColor">airplay</mat-icon>
                    <mat-icon class="menu-button adminNavColor" [ngClass]="{'rotated' : showSubmenuCourses}">
                        expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuCourses}">
                    <a mat-list-item [routerLink]="['/admin', 'courses']">
                        <mat-icon mat-list-icon>done_all</mat-icon>
                        {{ 'COMMON.PUBLISHED' | translate }}
                    </a>
                    <a mat-list-item [routerLink]="['/admin', 'courses', 'trashed']">
                        <mat-icon mat-list-icon>delete</mat-icon>
                        {{ 'COMMON.DELETED' | translate }}
                    </a>
                </div>


                <mat-list-item (click)="showSubmenuMessages = !showSubmenuMessages" class="parent">
                    <span class="full-width" translate>ADMINISTRATION.MESSAGING.MESSAGING</span>
                    <mat-icon mat-list-icon class="adminNavColor">message</mat-icon>
                    <mat-icon class="menu-button adminNavColor" [ngClass]="{'rotated' : showSubmenuMessages}">
                        expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuMessages}">
                    <a mat-list-item [routerLink]="['/admin', 'messages', 'sent-emails']">
                        <mat-icon mat-list-icon>mail_outline</mat-icon>
                        {{ 'ADMINISTRATION.MESSAGING.SENT_EMAILS' | translate }}
                    </a>
                    <a mat-list-item [routerLink]="['/admin', 'messages']">
                        <mat-icon mat-list-icon>message</mat-icon>
                        {{ 'ADMINISTRATION.MESSAGING.INBOX' | translate }}
                    </a>
                </div>

                <mat-list-item (click)="showSubmenuDirs = !showSubmenuDirs" class="parent">
                    <span class="full-width" translate>ADMINISTRATION.FILE_MANAGEMENT.FILE_MANAGEMENT</span>
                    <mat-icon mat-list-icon class="adminNavColor">folder</mat-icon>
                    <mat-icon class="menu-button adminNavColor" [ngClass]="{'rotated' : showSubmenuDirs}">expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuDirs}">
                    <a mat-list-item [routerLink]="['/admin', 'files']">
                        <mat-icon mat-list-icon>file_copy</mat-icon>
                        {{ 'ADMINISTRATION.FILE_MANAGEMENT.FILES' | translate }}
                    </a>
                    <a mat-list-item [routerLink]="['/admin', 'directories']">
                        <mat-icon mat-list-icon>dynamic_feed</mat-icon>
                        {{ 'ADMINISTRATION.FILE_MANAGEMENT.DIRECTORIES' | translate }}
                    </a>
                </div>

                <a mat-list-item [routerLink]="['/admin', 'users']">
                    <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
                    {{ 'ADMINISTRATION.USERS.LIST_USERS' | translate }}
                </a>


                <mat-list-item (click)="showSubmenuLanguages = !showSubmenuLanguages" class="parent">
                    <span class="full-width" translate>COMMON.LANGUAGE</span>
                    <mat-icon mat-list-icon class="adminNavColor">language</mat-icon>
                    <mat-icon class="menu-button adminNavColor" [ngClass]="{'rotated' : showSubmenuLanguages}">
                        expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenuLanguages}">
                    <a mat-list-item (click)="onChangeLanguage('fr')">
                        <mat-icon mat-list-icon>brightness_auto</mat-icon>
                        Français
                    </a>
                    <a mat-list-item (click)="onChangeLanguage('en')">
                        <mat-icon mat-list-icon>brightness_auto</mat-icon>
                        English
                    </a>
                </div>

            </mat-nav-list>
            <mat-nav-list></mat-nav-list>
        </mat-sidenav>

        <div class="admin-sidenav-content container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-container>
</div>