<div class="adminPageTop">
    <div class="row">
        <div class="col-md-6">
            <h1>
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
                {{ 'CV.CONTACT_INFO.CONTACT_INFO' | translate }}
            </h1>
        </div>

        <div class="col-lg-2">
            <mat-form-field appearance="legacy">
                <mat-label translate>COMMON.LANGUAGE</mat-label>
                <mat-select [(ngModel)]="editLang">
                    <mat-option *ngFor="let lang of languages" [value]="lang">
                        {{lang}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2">
            <a [routerLink]="['/admin']" mat-raised-button color="warn" class="btn-block">
                {{ 'COMMON.CANCEL' | translate }}
            </a>
        </div>
        <div class="col-lg-2">
            <button type="submit" mat-raised-button color="primary" class="btn-block" *ngIf="loaded"
                [disabled]="saving || loading || !form.valid" (click)="f.onSubmit(undefined)">
                {{ saving || loading ? ('COMMON.LOADING' | translate) : ('COMMON.SAVE' | translate) }}
            </button>
            <mat-spinner diameter="40" color="accent" *ngIf="loading"></mat-spinner>
        </div>
    </div>

    <div class="alert alert-success text-center" *ngIf="saved">
        {{ 'COMMON.SAVED_SUCCESSFULLY' | translate }}
    </div>

    <hr>
</div>

<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-chip-list #chipList aria-label="Emails selection">
                        <mat-chip *ngFor="let email of emails" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(email)">
                            {{email}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input [readonly]="loading" [placeholder]="'CV.CONTACT_INFO.EMAILS' | translate" required formControlName="emails"
                            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                        <mat-error *ngIf="!form.controls.emails.valid && form.controls.emails.touched">
                            {{ 'VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-chip-list>

                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label translate>CV.CONTACT_INFO.PHONE </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="phone">
                    <mat-error *ngIf="!form.controls.phone.valid && form.controls.phone.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <mat-form-field class="full-width" appearance="legacy" *ngIf="editLang === 'en'">
                    <mat-label> {{ 'CV.CONTACT_INFO.COUNTRY' | translate }} (en)* </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="country_EN">
                    <mat-error *ngIf="!form.controls.country_EN.valid && form.controls.country_EN.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="legacy" *ngIf="editLang === 'fr'">
                    <mat-label> {{ 'CV.CONTACT_INFO.COUNTRY' | translate }} (fr) </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="country_FR">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="full-width" appearance="legacy" *ngIf="editLang === 'en'">
                    <mat-label> {{ 'CV.CONTACT_INFO.CITY' | translate }} (en)* </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="city_EN">
                    <mat-error *ngIf="!form.controls.city_EN.valid && form.controls.city_EN.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="legacy" *ngIf="editLang === 'fr'">
                    <mat-label> {{ 'CV.CONTACT_INFO.CITY' | translate }} (fr) </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="city_FR">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.ZIP_CODE' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="zipCode">
                    <mat-error *ngIf="!form.controls.zipCode.valid && form.controls.zipCode.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.STREET_NUMBER' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="streetNumber">
                    <mat-error *ngIf="!form.controls.streetNumber.valid && form.controls.streetNumber.touched"
                        translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.STREET' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="street">
                    <mat-error *ngIf="!form.controls.street.valid && form.controls.street.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.LINKEDIN_URL' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="linkedInUrl">
                    <mat-error *ngIf="!form.controls.linkedInUrl.valid && form.controls.linkedInUrl.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.GITHUB_URL' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="gitHubUrl">
                    <mat-error *ngIf="!form.controls.gitHubUrl.valid && form.controls.gitHubUrl.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label> {{ 'CV.CONTACT_INFO.FACEBOOK_URL' | translate }} </mat-label>
                    <input [readonly]="loading" type="text" matInput formControlName="facebookUrl">
                    <mat-error *ngIf="!form.controls.facebookUrl.valid && form.controls.facebookUrl.touched" translate>
                        VALIDATION.REQUIRED
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>