<div class="info">
    <h1>
        <fa-icon [icon]="faInfo"></fa-icon>
        {{ 'CV.PERSONAL_INFO.PERSONAL_INFO' | translate }}
    </h1>
    <hr>

    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>

    <div class="info" *ngIf="loadedPInfo && loadedCInfo">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img [src]="getSanitizedImage(pInfo.imagePath)" alt="image" class="mat-elevation-z4">
                    <div class="mt-3 text-center" style="display: flex; justify-content: space-around;">
                        <a [href]="cInfo.linkedInUrl" target="_blank">
                            <img src="../../../../assets/images/linkedin.png" alt="linkedin" class="socialBtn">
                        </a>
                        <a [href]="cInfo.gitHubUrl" target="_blank">
                            <img src="../../../../assets/images/github.png" alt="github" class="socialBtn">
                        </a>
                        <a [href]="cInfo.facebookUrl" target="_blank">
                            <img src="../../../../assets/images/facebook.png" alt="facebook" class="socialBtn">
                        </a>
                    </div>
                </div>
                <div class="mt-4 contactLinks">
                    <p>
                        <fa-icon [icon]="faPhoneAlt"></fa-icon>
                        <a [href]="'tel:' + cInfo.phone">
                            {{ cInfo.phone }}
                        </a>
                    </p>
                    <p *ngFor="let email of emails">
                        <fa-icon [icon]="faAt"></fa-icon>
                        <a [href]="'mailto:' + email">
                            {{ email }}
                        </a>
                    </p>

                    <p>
                        <fa-icon [icon]="faMapMarked"></fa-icon>
                        {{ cInfo.streetNumber }} {{ cInfo.street }}
                        <br>
                        <span style="margin-left: 18px;">
                            {{ cInfo.zipCode }}
                            <span *ngIf="currentLang === 'en'">{{ cInfo.city_EN }}, {{ cInfo.country_EN }}</span>
                            <span *ngIf="currentLang === 'fr'">{{ cInfo.city_FR }}, {{ cInfo.country_FR }}</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="name">
                    {{ pInfo.name }}
                </h1>
                <p class="title text-muted" *ngIf="currentLang === 'en'"> {{ pInfo.title_EN }} </p>
                <p class="title text-muted" *ngIf="currentLang === 'fr'"> {{ pInfo.title_FR }} </p>

                <p>
                    <b style="color: gray;"> {{ 'CV.PERSONAL_INFO.MARITAL_STATUS' | translate }}:</b>
                    {{ 'CV.PERSONAL_INFO.' + pInfo.maritalStatus.toUpperCase() | translate }}
                </p>

                <p>
                    <b style="color: gray;"> {{ 'CV.PERSONAL_INFO.DATE_OF_BIRTH' | translate }}:</b>
                    {{ pInfo.dateOfBirth | date:'dd/MM/yyyy' }}
                </p>

                <p>
                    <b style="color: gray;">{{ 'CV.PERSONAL_INFO.DRIVERS_LICENSE' | translate }}:</b>
                    {{ pInfo.driversLicense }}
                </p>

                <p>
                    <b style="color: gray;"> {{ 'CV.PERSONAL_INFO.ABOUT' | translate }}:</b>
                </p>
                <pre *ngIf="currentLang == 'en'" [innerHTML]="getSanitizedHtml(pInfo.about_EN)"> </pre>
                <pre *ngIf="currentLang == 'fr'" [innerHTML]="getSanitizedHtml(pInfo.about_FR)"> </pre>
            </div>
        </div>
    </div>


    <div class="loader" *ngIf="loadingPInfo || loadingCInfo">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div class="imgPh mat-elevation-z4"></div>
                    <div class="socialLinkPh mt-3 text-center" style="display: flex; justify-content: space-around;">
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                        <span>&nbsp;</span>
                    </div>
                </div>
                <div class="mt-4 contactLinksPh">
                    <p> &nbsp; </p>
                    <p> &nbsp; </p>
                    <p> &nbsp; <br> &nbsp; </p>
                </div>
            </div>
            <div class="pInfoPh col-md-8">
                <h1>&nbsp; </h1>
                <p class="titlePh text-muted"> &nbsp; </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <pre>&nbsp;</pre>
            </div>
        </div>
    </div>
</div>