img {
    width: 100%;
    height: 250px;
}

.socialBtn {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.socialBtn:hover {
    opacity: 1;
}

.name {
    font-size: 250%;
    font-style: italic;
}

.title {
    font-style: italic;
}

.contactLinks, .contactLinks a {
    color: grey;
}

pre {
    color: lightgrey;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width: 100%;
    overflow-y: auto;
    text-align: justify;
    font-family: inherit;
    font-size: inherit;
}

.info {
    animation: animInfo .4s ease-in forwards;
}

@keyframes animInfo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* Loader */
.loader{
    opacity: 0.8;
    animation: loaderAnim .9s ease-in-out infinite;
}

@keyframes loaderAnim{
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.3;
    }
}

.loader .imgPh{
    width: 100%;
    height: 250px;
    background-color: darkslategrey;
    border-radius: 10px;
}

.loader .socialLinkPh span{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: darkslategrey;
    border-radius: 10px;
}

.loader .contactLinksPh p{
    width: 100%;
    background-color: darkslategrey;
    border-radius: 10px;
}

.loader .pInfoPh h1{
    width: 80%;
    height: 40px;
    background-color: darkslategrey;
    border-radius: 10px;
}

.loader .pInfoPh p{
    width: 50%;
    height: 30px;
    background-color: darkslategrey;
    border-radius: 10px;
}

.loader .pInfoPh pre{
    width: 70%;
    height: 120px;
    background-color: darkslategrey;
    border-radius: 10px;
}