<div class="adminPageTop ">
    <div class="row">
        <div class="col-lg-11">
            <h1>
                <mat-icon>dashboard</mat-icon>
                {{ 'ADMINISTRATION.DASHBOARD.DASHBOARD' | translate }}
            </h1>
        </div>
        <div class="col-lg-1">
            <button mat-raised-button color="primary" (click)="onRefresh()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
    </div>
    <hr>
</div>

<div class="adminPageBottom">
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter purple">
                <mat-icon class="icon">school</mat-icon>
                <span [countUp]="educationsCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.EDUCATION.EDUCATION</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter darksalmon">
                <mat-icon class="icon">work</mat-icon>
                <span [countUp]="experiencesCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.EXPERIENCES.EXPERIENCES</span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card-counter deepskyblue">
                <mat-icon class="icon">language</mat-icon>
                <span [countUp]="languagesCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.LANGUAGES.LANGUAGES</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter coral">
                <mat-icon class="icon">airplay</mat-icon>
                <span [countUp]="coursesCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.COURSES.COURSES</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card-counter grey">
                <mat-icon class="icon">stars</mat-icon>
                <span [countUp]="skillsCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.SKILLS.SKILLS</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter success">
                <mat-icon class="icon">message</mat-icon>
                <span [countUp]="messagesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.MESSAGING.INBOX</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter danger">
                <mat-icon class="icon">mail_outline</mat-icon>
                <span [countUp]="sentEmailsCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.MESSAGING.SENT_EMAILS</span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card-counter darkorange">
                <mat-icon class="icon">dynamic_feed</mat-icon>
                <span [countUp]="directoriesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.FILE_MANAGEMENT.DIRECTORIES</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card-counter tomato">
                <mat-icon class="icon">assignment_ind</mat-icon>
                <span [countUp]="cvFileCount" class="count-numbers">0</span>
                <span class="count-name" translate>CV.CV_FILES.CV_FILES</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter darkcyan">
                <mat-icon class="icon">file_copy</mat-icon>
                <span [countUp]="filesCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.FILE_MANAGEMENT.FILES</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter darksalmon">
                <mat-icon class="icon">explore</mat-icon>
                <span [countUp]="visitsCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.VISITS.VISITS</span>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card-counter burlywood">
                <mat-icon class="icon">supervised_user_circle</mat-icon>
                <span [countUp]="usersCount" class="count-numbers">0</span>
                <span class="count-name" translate>ADMINISTRATION.USERS.USERS</span>
            </div>
        </div>
    </div>

    <hr style="border-color: lightgrey;">
    <app-visits></app-visits>
</div>