<div class="adminPageTop">
    <h1>
        <mat-icon>loyalty</mat-icon>
        {{ 'ADMINISTRATION.TAGS_MANAGEMENT.TAGS' | translate }}
    </h1>

    <hr>
    <div class="row ">
        <div class="col-lg-6">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-lg-8 mb-3">
                        <mat-form-field>
                            <mat-label>
                                <fa-icon [icon]="faPlus"></fa-icon>
                                {{ 'COMMON.ADD' | translate }}
                            </mat-label>
                            <input matInput required formControlName="name">

                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <button mat-raised-button class="btn-block mt-1" color="primary" [disabled]="!form.valid">
                            {{ editMode ?  (creating ? ('COMMON.SAVING' | translate) : ('COMMON.SAVE' | translate))  : ( creating ? ('COMMON.LOADING' | translate) : ('COMMON.ADD' | translate))  }}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-2 mb-3">
            <button mat-raised-button class="btn-block mt-1" color="accent" (click)="onRefresh()">
                {{ 'COMMON.REFRESH' | translate }}
            </button>
        </div>
        <div class="col-lg-4 mb-3">
            <mat-form-field>
                <mat-label>
                    <fa-icon [icon]="faSearch"></fa-icon>
                    {{ 'COMMON.SEARCH' | translate }}
                </mat-label>
                <input matInput (keyup)="applyFilter($event)" [placeholder]="'COMMON.BY_ANY_FIELD' | translate">
            </mat-form-field>
        </div>
    </div>
</div>

<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            <strong>{{error}}</strong>
        </div>
    </div>

    <div class="dataTable-container mat-elevation-z8">
        <div class="dataTable-loading-shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>


        <div class="dataTable-table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.ID' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.NAME' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>


                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.ACTIONS' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="pl-3">

                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onEdit(row.id, row.name);">
                                <fa-icon [icon]="faEdit"></fa-icon>
                                {{ 'COMMON.EDIT' | translate }}
                            </button>
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onDelete(row.id);">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                {{ 'COMMON.DELETE' | translate }}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>