.bg{
    background: url(../../../assets/images/cvbg2.jpg);
    width: 100%;
    min-height: calc(100vh - 200px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: -18px;
}

.container {
    padding-top: 30px;
    color: lightgrey;
    background-color: #303030cb;
    padding: 14px;
    min-height: calc(100vh - 200px);
}