<div class="adminPageTop">
    <h1>
        <mat-icon>file_copy</mat-icon>
        {{ 'ADMINISTRATION.FILE_MANAGEMENT.FILES' | translate }}
    </h1>

    <hr>

    <div *ngIf="errorsDir">
        <div class="alert alert-danger" *ngFor="let error of errorsDir">
            {{error}}
        </div>
    </div>

    <div *ngIf="errorsFiles">
        <div class="alert alert-danger" *ngFor="let error of errorsFiles">
            {{error}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 mb-3">
            <a mat-raised-button [routerLink]="['/admin', 'files', 'upload']" color="primary" class="btn-block mt-1">
                <fa-icon [icon]="faUpload"></fa-icon>
                {{ 'ADMINISTRATION.FILE_MANAGEMENT.UPLOAD_FILE' | translate }}
            </a>
        </div>
        <div class="col-lg-2 mb-3">
            <button mat-raised-button class="btn-block mt-1" color="accent" (click)="onRefresh()">
                {{ 'COMMON.REFRESH' | translate }}
            </button>
        </div>
        <div class="col-lg-8 mb-3">
            <mat-form-field appearance="legacy">
                <mat-label>
                    <fa-icon [icon]="faSearch"></fa-icon>
                    {{ 'COMMON.SEARCH' | translate }}
                </mat-label>
                <input matInput (keyup)="applyFilter($event)" [placeholder]=" 'COMMON.BY_ANY_FIELD' | translate">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-3">
            <mat-form-field style="width: 100%;">
                <mat-label translate>COMMON.DIRECTORY</mat-label>
                <mat-select [(ngModel)]="path">
                    <mat-option (click)="onSelectDirectory()"> {{ 'COMMON.ALL' | translate }}</mat-option>
                    <mat-option *ngFor="let p of listPaths" [value]="p.path" (click)="onSelectDirectory()">
                        {{p.path}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="adminPageBottom row mb-5">
    <div class="col-lg-12">


        <div class="dataTable-container mat-elevation-z8">
            <div class="dataTable-loading-shade" *ngIf="loading">
                <mat-spinner *ngIf="loading "></mat-spinner>
            </div>

            <div class="dataTable-table-container">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.ID' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>

                    <!-- Image  Column -->
                    <ng-container matColumnDef="downloadPath">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.IMAGE' | translate }} </th>
                        <td mat-cell *matCellDef="let row">
                            <img [src]="getImage(row.downloadPath)" *ngIf="isImage(row.fileType)" alt="image"
                                class="filePreview" (click)="onViewImage(row.downloadPath)">

                            <img src="../../../../assets/images/pdf.png" *ngIf="isPdf(row.fileType)" alt="image"
                                class="filePreview" (click)="onViewPdfFile(row.downloadPath)">
                        </td>
                    </ng-container>

                    <!-- originalFileName at en Column -->
                    <ng-container matColumnDef="originalFileName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.FILE_NAME' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.originalFileName}} </td>
                    </ng-container>

                    <!-- directory  Column -->
                    <ng-container matColumnDef="uploadDirectory">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.DIRECTORY' | translate }}</th>
                        <td mat-cell *matCellDef="let row"> {{row.uploadDirectory.path}} </td>
                    </ng-container>

                    <!-- fileType at en Column -->
                    <ng-container matColumnDef="fileType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.TYPE' | translate }} </th>
                        <td mat-cell *matCellDef="let row"> {{row.fileType}} </td>
                    </ng-container>

                    <!-- uploadDateTime at en Column -->
                    <ng-container matColumnDef="uploadDateTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.DATE_TIME' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.uploadDateTime | date:'medium'}} </td>
                    </ng-container>


                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ 'COMMON.ACTIONS' | translate }}
                        </th>
                        <td mat-cell *matCellDef="let row" class="pl-3">

                            <a mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>settings</mat-icon>
                            </a>
                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <a class="dropdown-item" style="cursor: pointer;" [href]="row.downloadPath"
                                    target="_blank">
                                    {{ 'COMMON.DOWNLOAD' | translate }}
                                </a>
                                <button type="button" class="dropdown-item" style="cursor: pointer;"
                                    (click)="onDelete(row.id);">
                                    {{ 'COMMON.DELETE' | translate }}
                                </button>

                            </mat-menu>

                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>


    </div>
</div>