<div class="adminPageTop">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <fa-icon [icon]="faBriefcase"></fa-icon>
                {{ 'CV.EXPERIENCES.EXPERIENCES' | translate }}
            </h1>
        </div>
        <div class="col-md-2">
            <button mat-raised-button color="accent" class="btn-block mt-1" (click)="onRefresh()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
        <div class="col-md-2">
            <a mat-raised-button [routerLink]="['/admin', 'cv', 'experiences', 'create']" color="primary"
                class="btn-block mt-1">
                {{ 'COMMON.CREATE' | translate }}
            </a>
        </div>
    </div>

    <hr>
</div>

<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">{{ error }}</div>
    </div>
    <mat-spinner style="margin: 0 auto;" *ngIf="loading"></mat-spinner>
    <div *ngIf="loaded">
        <div class="expBox mat-elevation-z12" *ngFor="let exp of experiences">
            <div class="row">
                <div class="col-md-10">
                    <h2 *ngIf="currentLang === 'en'"> {{ exp.title_EN }} </h2>
                    <h2 *ngIf="currentLang === 'fr'"> {{ exp.title_FR }} </h2>
                </div>
                <div class="col-md-2" style="text-align: right;">
                    <button mat-mini-fab color="primary" class="btn-block mt-1 mr-3" (click)="onOpenDocuments(exp.id)">
                        <fa-icon [icon]="faFileAlt"></fa-icon>
                    </button>
                    <button mat-mini-fab color="warn" class="btn-block mt-1 mr-3" (click)="onDelete(exp.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <a mat-mini-fab color="accent" class="btn-block mt-1"
                        [routerLink]="['/admin', 'cv', 'experiences', 'edit', exp.id]">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <p class="badge badge-info">
                            <fa-icon [icon]="faAt"></fa-icon> {{ exp.company }}
                        </p>
                    </div>
                    <div>
                        <p *ngIf="currentLang === 'en'">
                            <fa-icon [icon]="faMapMarked"></fa-icon> {{ exp.city_EN }}, {{ exp.country_EN }}
                        </p>
                        <p *ngIf="currentLang === 'fr'">
                            <fa-icon [icon]="faMapMarked"></fa-icon> {{ exp.city_FR }}, {{ exp.country_FR }}
                        </p>
                    </div>
                    <div>
                        <p>
                            <span class="badge badge-primary mr-3"> {{ exp.startDate | date:'longDate' }}</span>
                            <span class="badge badge-success">
                                {{ exp.isCurrentlyWorking ? ('CV.EXPERIENCES.CURRENTLY_WORKING' | translate) : (exp.endDate | date:'longDate') }}</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <b>{{ 'CV.EXPERIENCES.RESPONISBILITES' | translate }}:</b>
                    <pre *ngIf="currentLang === 'en'" [innerHTML]="getSanitizedHtml(exp.responisbilites_EN)"></pre>
                    <pre *ngIf="currentLang === 'fr'" [innerHTML]="getSanitizedHtml(exp.responisbilites_FR)"></pre>
                </div>
                <div class="col-md-4">
                    <b>{{ 'CV.EXPERIENCES.ACCOMPLISHMENTS'  | translate}}:</b>
                    <pre *ngIf="currentLang === 'en'" [innerHTML]="getSanitizedHtml(exp.accomplishments_EN)"></pre>
                    <pre *ngIf="currentLang === 'fr'" [innerHTML]="getSanitizedHtml(exp.accomplishments_FR)"></pre>
                </div>
            </div>
        </div>
    </div>
</div>