/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
    width: 100%;
}

.adminPageTop {
    animation: animAdminPageTop 0.3s forwards ease-in-out;
}

@keyframes animAdminPageTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.adminPageBottom {
    animation: animAdminPageBottom 0.3s forwards ease-in-out;
}

@keyframes animAdminPageBottom {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* table */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 12px;
    width: 100%;
}

td, th {
    width: 10%;
}

/* Structure */

.dataTable-container {
    position: relative;
    min-height: 200px;
}

.dataTable-table-container {
    position: relative;
    min-height: 350px;
    max-height: 500px;
    overflow: auto;
}

.dataTable-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataTable-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

/* Column Widths */

.mat-column-number, .mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.center {
    margin: 0 auto;
}


.no-padding .mat-dialog-container {
    padding: 0 !important;
    background-color: transparent;
  }
  
  .no-scrolls .mat-dialog-container {
    overflow: hidden !important;
  }
  
  .backdropBg {
    background-color: rgba(0, 0, 0, 0.9);
  }