.ng-invalid.ng-touched {
    border-color: red;;
}


.authBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgb(77, 77, 77);
    width: 50%;
    /* height: 200px; */
    border-radius: 10px;
    padding: 20px;
    color: lightgrey;
    animation: authBoxAnim .4s ease-in forwards;
}

@keyframes authBoxAnim {
    0% {
        transform: translateY(-25%);
        opacity: 0;
    }
    100% {
        transform: translateY(-50%);
        opacity: 1;
    }
}

a {
    text-decoration: none;
}