<div class="container content0">
    <div class="authBox">
        <h1>
            <fa-icon [icon]="faEdit"></fa-icon>
            {{ 'AUTH.RESET_PASSWORD' | translate }}
        </h1>
        <hr>

        <div *ngIf="errors">
            <div class="alert alert-danger text-center" *ngFor='let error of errors'>
                <h2>
                    {{error}}
                </h2>
            </div>
        </div>

        <div class="alert alert-success text-center" *ngIf="resetted">
            <h1 translate>AUTH.RESET_PASSWORD_MESSAGE</h1>
            <a [routerLink]="['/security', 'auth']" mat-raised-button color="primary" class=" mt-3">
                {{ 'AUTH.LOGIN' | translate }}
            </a>
        </div>

        <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()" *ngIf="!resetted">
            <div formGroupName="passwordGroup">
                <mat-form-field class="full-width" appearance="legacy">
                    <mat-label translate>CHANGE_PASSWORD.NEW_PASSWORD</mat-label>
                    <input type="password" matInput formControlName="password" id="password" name="password">
                    <mat-error translate
                        *ngIf="!resetPwdForm.get('passwordGroup.password').valid && resetPwdForm.get('passwordGroup.password').touched">
                        VALIDATION.PASSWORD_LENGTH
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width mt-3" appearance="legacy">
                    <mat-label translate>CHANGE_PASSWORD.CONFIRM_PASSWORD</mat-label>
                    <input type="password" matInput formControlName="cpassword" id="cpassword" name="cpassword"
                        placeholder="Please repeat your new password">
                    <mat-error translate
                        *ngIf="!resetPwdForm.controls.passwordGroup.valid && resetPwdForm.controls.passwordGroup.touched">
                        VALIDATION.PASSWORDS_MATCH
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="display: flex; justify-content: space-between;">
                <a [routerLink]="['/security', 'auth']" mat-raised-button color="primary" class=" mt-3">
                    {{ 'AUTH.LOGIN' | translate }}
                </a>
                <button mat-raised-button color="primary" class="mt-3" type="submit"
                    [disabled]="!resetPwdForm.valid || loading">
                    {{ !loading ? ('AUTH.RESET_PASSWORD' | translate) : ('COMMON.LOADING' | translate) }}
                </button>

            </div>
        </form>

    </div>
</div>