<div class="adminPageTop">
    <h1>
        <mat-icon>dynamic_feed</mat-icon>
        {{ 'ADMINISTRATION.FILE_MANAGEMENT.DIRECTORIES' | translate }}
    </h1>

    <hr>

    <div class="row ">

        <div class="col-lg-2 mb-3">
            <button mat-raised-button class="btn-block mt-1" color="primary" [disabled]="creating"
                (click)="onEditDirectory()">
                {{ !creating ? ('COMMON.CREATE' | translate ) : ('COMMON.LOADING' | translate )  }}
            </button>
        </div>
        <div class="col-lg-2 mb-3">
            <button mat-raised-button class="btn-block mt-1" color="accent" (click)="onRefresh()">
                {{ 'COMMON.REFRESH' | translate }}
            </button>
        </div>
        <div class="col-lg-8 mb-3">
            <mat-form-field appearance="legacy">
                <mat-label>
                    <fa-icon [icon]="faSearch"></fa-icon>
                    {{ 'COMMON.SEARCH' | translate }}
                </mat-label>
                <input matInput (keyup)="applyFilter($event)" [placeholder]="'COMMON.BY_ANY_FIELD' | translate">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="adminPageBottom">
    <div *ngIf="errors">
        <div class="alert alert-danger" *ngFor="let error of errors">
            <strong>{{error}}</strong>
        </div>
    </div>

    <div class="dataTable-container mat-elevation-z8">
        <div class="dataTable-loading-shade" *ngIf="loading">
            <mat-spinner *ngIf="loading"></mat-spinner>
        </div>


        <div class="dataTable-table-container">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.ID' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.NAME' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <!-- Path en Column -->
                <ng-container matColumnDef="path">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.PATH' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.path}} </td>
                </ng-container>

                <!-- Created at en Column -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMMON.CREATED_AT' | translate }} </th>
                    <td mat-cell *matCellDef="let row"> {{row.createdAt | date:'medium'}} </td>
                </ng-container>


                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'COMMON.ACTIONS' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="pl-3">

                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>settings</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onFetchPhysical(row.path);">
                                {{ 'ADMINISTRATION.FILE_MANAGEMENT.PHYS_DIRS' | translate }}
                            </button>
                            <button class="dropdown-item" style="cursor: pointer;" (click)="onDelete(row.id);">
                                {{ 'COMMON.DELETE' | translate }}
                            </button>
                            <!-- <a class="dropdown-item btn-link"
              style="cursor: pointer;"
              (click)="onEditCategory(row.id, true);">
              Edit
            </a>
            <button class="dropdown-item"
              style="cursor: pointer;"
              (click)="onTrash(row.id);">
              Trash
            </button> -->
                        </mat-menu>

                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->