
.CatTitle {
    border-radius: .2em .2em 0 0;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    padding: .3em .5em;
    font-size: 12pt;
    font-weight: bold;
    /* width: 200px; */
    color:lightgrey;
}

.CatTitleAfter {
    display: block;
    height: .1em;
    padding: 0;
    margin: 0 ;
}

.CatTitleColor {
    background: #383b3d none repeat scroll 0 0;
}

.CatTitleAfterColor {
    border: 2px solid #383b3d ;
}
